<!-- Latest property -->
<section id="aa-latest-property">
<div class="container">
    <div class="aa-latest-property-area">
    <div class="aa-title">
        <h2 class="latest-properties-label">Latest Properties</h2>
        <span></span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sit ea nobis quae vero voluptatibus.</p>         
    </div>
    <div class="aa-latest-properties-content">
        {{!-- <div class="row">
        <div class="col-md-4">
            <article class="aa-properties-item">
                <a href="/house/detail" class="aa-properties-item-img">
                    <img src="../../images/latest_properties/apart_1.jpg" alt="img">
                </a>
                <div class="aa-tag for-sale">
                    For Sale
                </div>
                <div class="aa-properties-item-content">
                    <div class="aa-properties-info">
                    <span>5 Rooms</span>
                    <span>2 Beds</span>
                    <span>3 Baths</span>
                    <span>1100 SQ FT</span>
                    </div>
                    <div class="aa-properties-about">
                    <h3><a href="/house/detail">Chung cư Mỹ Thuận</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>                      
                    </div>
                    <div class="aa-properties-detial">
                    <span class="aa-price">
                        $35000
                    </span>
                    <a href="/house/detail" class="aa-secondary-btn">View Details</a>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="aa-properties-item">
            <a href="/house/detail" class="aa-properties-item-img">
                <img src="../../images/latest_properties/apart_2.jpg" alt="img">
            </a>
            <div class="aa-tag for-rent">
                For Rent
            </div>
            <div class="aa-properties-item-content">
                <div class="aa-properties-info">
                <span>5 Rooms</span>
                <span>2 Beds</span>
                <span>3 Baths</span>
                <span>1100 SQ FT</span>
                </div>
                <div class="aa-properties-about">
                <h3><a href="/house/detail">Biệt thự Wanda</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>                      
                </div>
                <div class="aa-properties-detial">
                <span class="aa-price">
                    $11000
                </span>
                <a href="/house/detail" class="aa-secondary-btn">View Details</a>
                </div>
            </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="aa-properties-item">
            <a href="/house/detail" class="aa-properties-item-img">
                <img src="../../images/latest_properties/apart_3.jpg" alt="img">
            </a>
            <div class="aa-tag sold-out">
                Sold Out
            </div>
            <div class="aa-properties-item-content">
                <div class="aa-properties-info">
                <span>5 Rooms</span>
                <span>2 Beds</span>
                <span>3 Baths</span>
                <span>1100 SQ FT</span>
                </div>
                <div class="aa-properties-about">
                <h3><a href="/house/detail">Phòng trọ quận 8</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>                      
                </div>
                <div class="aa-properties-detial">
                <span class="aa-price">
                    $15000
                </span>
                <a href="/house/detail" class="aa-secondary-btn">View Details</a>
                </div>
            </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="aa-properties-item">
            <a href="/house/detail" class="aa-properties-item-img">
                <img src="../../images/latest_properties/apart_4.jpg" alt="img">
            </a>
            <div class="aa-tag for-sale">
                For Sale
            </div>
            <div class="aa-properties-item-content">
                <div class="aa-properties-info">
                <span>5 Rooms</span>
                <span>2 Beds</span>
                <span>3 Baths</span>
                <span>1100 SQ FT</span>
                </div>
                <div class="aa-properties-about">
                <h3><a href="/house/detailm">Khu dân cư Phú Mỹ Hưng</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>                      
                </div>
                <div class="aa-properties-detial">
                <span class="aa-price">
                    $35000
                </span>
                <a href="/house/detail" class="aa-secondary-btn">View Details</a>
                </div>
            </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="aa-properties-item">
            <a href="/house/detail" class="aa-properties-item-img">
                <img src="../../images/latest_properties/apart_5.jpg" alt="img">
            </a>                
            <div class="aa-tag sold-out">
                Sold Out
            </div>
            <div class="aa-properties-item-content">
                <div class="aa-properties-info">
                <span>5 Rooms</span>
                <span>2 Beds</span>
                <span>3 Baths</span>
                <span>1100 SQ FT</span>
                </div>
                <div class="aa-properties-about">
                <h3><a href="/house/detail">Chung cư cao cấp Huy Bá</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>                      
                </div>
                <div class="aa-properties-detial">
                <span class="aa-price">
                    $11000
                </span>
                <a href="/house/detail" class="aa-secondary-btn">View Details</a>
                </div>
            </div>
            </article>
        </div>
        <div class="col-md-4">
            <article class="aa-properties-item">
            <a href="/house/detail" class="aa-properties-item-img">
                <img src="../../images/latest_properties/apart_6.jpg" alt="img">
            </a>
            <div class="aa-tag for-rent">
                For Rent
            </div>
            <div class="aa-properties-item-content">
                <div class="aa-properties-info">
                <span>5 Rooms</span>
                <span>2 Beds</span>
                <span>3 Baths</span>
                <span>1100 SQ FT</span>
                </div>
                <div class="aa-properties-about">
                <h3><a href="/house/detail">Chung cư Tân Hiệp</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>                      
                </div>
                <div class="aa-properties-detial">
                <span class="aa-price">
                    $15000
                </span>
                <a href="/house/detail" class="aa-secondary-btn">View Details</a>
                </div>
            </div>
            </article>
        </div> --}}
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="card mt-4">
                    <a href="/house/detail">
                        <img src="../../images/houses/house_1.jpg" class="card-img-top"
                            alt="Venezia Beach Bình Thuận" />
                    </a>
                    <div class="card-body" class="no-text-decoration">
                        <a href="/house/detail">
                            <h5 class="card-title">Venezia Beach Bình Thuận</h5>
                        </a>
                        <p class="card-text">
                        <ul>
                            <li>
                                Xã Thắng Hải, Hàm Tân, Bình Thuận
                            </li>
                            <li>
                                Quy mô: 70ha
                            </li>
                            <li>
                                Giá: 11 Tỷ/căn
                            </li>
                            <li>
                                Pháp lý: Sổ hồng
                            </li>
                        </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Liên hệ</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card mt-4">
                    <a href="/house/detail">
                        <img src="../../images/houses/house_2.jpg" class="card-img-top"
                            alt="Dự án Chợ và Nhà phố Thị xã Bình Minh" />
                    </a>
                    <div class="card-body" class="no-text-decoration">
                        <a href="/house/detail">
                            <h5 class="card-title">Dự án Chợ và Nhà phố</h5>
                        </a>
                        <p class="card-text">
                        <ul>
                            <li>
                                Xã Thắng Hải, Hàm Tân, Bình Thuận
                            </li>
                            <li>
                                Quy mô: 70ha
                            </li>
                            <li>
                                Giá: 11 Tỷ/căn
                            </li>
                            <li>
                                Pháp lý: Sổ hồng
                            </li>
                        </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Liên hệ</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card mt-4">
                    <a href="/house/detail">
                        <img src="../../images/houses/house_3.jpg" class="card-img-top"
                            alt="Dự án căn hộ Astral City Bình Dương" />
                    </a>
                    <div class="card-body" class="no-text-decoration">
                        <a href="/house/detail">
                            <h5 class="card-title">Dự án Royal Winter</h5>
                        </a>
                        <p class="card-text">
                        <ul>
                            <li>
                                Xã Thắng Hải, Hàm Tân, Bình Thuận
                            </li>
                            <li>
                                Quy mô: 70ha
                            </li>
                            <li>
                                Giá: 11 Tỷ/căn
                            </li>
                            <li>
                                Pháp lý: Sổ hồng
                            </li>
                        </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Liên hệ</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card mt-4">
                    <a href="/house/detail">
                        <img src="../../images/houses/house_4.jpg" class="card-img-top"
                            alt="Dự án căn hộ Astral City Bình Dương" />
                    </a>
                    <div class="card-body" class="no-text-decoration">
                        <a href="/house/detail">
                            <h5 class="card-title">Dự án căn hộ Astral City Bình Dương</h5>
                        </a>
                        <p class="card-text">
                        <ul>
                            <li>
                                Xã Thắng Hải, Hàm Tân, Bình Thuận
                            </li>
                            <li>
                                Quy mô: 70ha
                            </li>
                            <li>
                                Giá: 11 Tỷ/căn
                            </li>
                            <li>
                                Pháp lý: Sổ hồng
                            </li>
                        </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Liên hệ</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card mt-4">
                    <a href="/house/detail">
                        <img src="../../images/houses/house_5.jpg" class="card-img-top" alt="Hamubay Phan Thiết" />
                    </a>
                    <div class="card-body" class="no-text-decoration">
                        <a href="/house/detail">
                            <h5 class="card-title">Hamubay Phan Thiết</h5>
                        </a>
                        <p class="card-text">
                        <ul>
                            <li>
                                Xã Thắng Hải, Hàm Tân, Bình Thuận
                            </li>
                            <li>
                                Quy mô: 70ha
                            </li>
                            <li>
                                Giá: 11 Tỷ/căn
                            </li>
                            <li>
                                Pháp lý: Sổ hồng
                            </li>
                        </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Liên hệ</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card mt-4">
                    <a href="/house/detail">
                        <img src="../../images/houses/house_6.jpg" class="card-img-top"
                            alt="Thắng Lợi J-Dragon Cần Đước" />
                    </a>
                    <div class="card-body" class="no-text-decoration">
                        <a href="/house/detail">
                            <h5 class="card-title">Thắng Lợi J-Dragon Cần Đước</h5>
                        </a>
                        <p class="card-text">
                        <ul>
                            <li>
                                Xã Thắng Hải, Hàm Tân, Bình Thuận
                            </li>
                            <li>
                                Quy mô: 70ha
                            </li>
                            <li>
                                Giá: 11 Tỷ/căn
                            </li>
                            <li>
                                Pháp lý: Sổ hồng
                            </li>
                        </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Liên hệ</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</section>
<!-- / Latest property -->

<!-- Service section -->
<section id="aa-service">
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <div class="aa-service-area">
        <div class="aa-title">
            <h2 class="latest-properties-label">Our Service</h2>
            <span></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sit ea nobis quae vero voluptatibus.</p>
        </div>
        <!-- service content -->
        <div class="aa-service-content">
            <div class="row">
            <div class="col-md-3">
                <div class="aa-single-service">
                <div class="aa-service-icon">
                    <span class="fa fa-home"></span>
                </div>
                <div class="aa-single-service-content">
                    <h4><a href="#">Property Sale</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellendus quasi asperiores itaque dolorem at.</p>
                </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="aa-single-service">
                <div class="aa-service-icon">
                    <span class="fa fa-check"></span>
                </div>
                <div class="aa-single-service-content">
                    <h4><a href="#">Property Rent</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellendus quasi asperiores itaque dolorem at.</p>
                </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="aa-single-service">
                <div class="aa-service-icon">
                    <span class="fa fa-crosshairs"></span>
                </div>
                <div class="aa-single-service-content">
                    <h4><a href="#">Property Development</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellendus quasi asperiores itaque dolorem at.</p>
                </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="aa-single-service">
                <div class="aa-service-icon">
                    <span class="fa fa-chart-bar"></span>
                </div>
                <div class="aa-single-service-content">
                    <h4><a href="#">Market Analysis</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellendus quasi asperiores itaque dolorem at.</p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</section>
<!-- / Service section -->